<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="MySupervisory" Language="1033" Version="1.0.0.3" Manufacturer="Dominus04" UpgradeCode="307cb047-b65e-45af-9caf-8ebab2d8f127" Codepage="65001">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" /> 

		<Feature Id="ProductFeature" Title="SetupProject1" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="DesktopShortcut" />
		</Feature>
	</Product>


	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="DesktopShortcut" Guid="*">
          <Shortcut Id="SupervisoryDesktopShortcut"
                    Name="Supervisório do Banco Renault"
                    Description="!(bind.Property.ProductName)"
                    Target="[INSTALLFOLDER]SupervisorioBancoRenault.exe"
                    WorkingDirectory="INSTALLFOLDER"/>
          
          <RemoveFolder Id="DesktopFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\Microsoft\SupervisoryRenault" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
      
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
			</Directory>
      
		</Directory>
	</Fragment>

	<Fragment>
    <ComponentGroup Id="ProductComponents">
      <!-- Create separate components for each file -->
      <Component Id="D3DCompiler" Directory="INSTALLFOLDER" Guid="*">
        <File Source="../Supervisório Banco Renault/publish/D3DCompiler_47_cor3.dll" />
      </Component>
      <Component Id="SQLite" Directory="INSTALLFOLDER" Guid="*">
        <File Source="../Supervisório Banco Renault/publish/e_sqlite3.dll" />
      </Component>
      <Component Id="PenImc" Directory="INSTALLFOLDER" Guid="*">
        <File Source="../Supervisório Banco Renault/publish/PenImc_cor3.dll" />
      </Component>
      <Component Id="PresentationNative" Directory="INSTALLFOLDER" Guid="*">
        <File Source="../Supervisório Banco Renault/publish/PresentationNative_cor3.dll" />
      </Component>
      <Component Id="ConfigFile" Directory="INSTALLFOLDER" Guid="*">
        <File Source="../Supervisório Banco Renault/publish/SupervisorioBancoRenault.dll.config" />
      </Component>
      <Component Id="Executable" Directory="INSTALLFOLDER" Guid="*">
        <File Source="../Supervisório Banco Renault/publish/SupervisorioBancoRenault.exe" KeyPath="yes"/>
      </Component>
      <Component Id="PDBFile" Directory="INSTALLFOLDER" Guid="*">
        <File Source="../Supervisório Banco Renault/publish/SupervisorioBancoRenault.pdb" />
      </Component>
      <Component Id="VCRuntime" Directory="INSTALLFOLDER" Guid="*">
        <File Source="../Supervisório Banco Renault/publish/vcruntime140_cor3.dll" />
      </Component>
      <Component Id="WPFGraphics" Directory="INSTALLFOLDER" Guid="*">
        <File Source="../Supervisório Banco Renault/publish/wpfgfx_cor3.dll" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
